*{
    padding: 0;
    margin: 0;
    
}
p{
    color: aliceblue;
}

body{
    background-color: #1F2833;
}

ul{
    list-style-type: none;
    overflow: hidden;
    color: white;
    top: 0;
    width: 100%;
    margin-left: 35%;

}
li{
    float: left;
    display: inline;

}
li a{
    display:block;
    counter-reset: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding: 10px;
    margin: 5px;
    color: white;
}
li:hover{
    background-color: rgb(233, 107, 64);
}


.home{
    height: 100%;
    width: 100%;
    align-items: center;
    float: left;
    position: inherit;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#btn{
    background-color:1F2833;
    color: aliceblue;
    border:solid #1F2833 ;
    height: 60px;    
    width: 130px;
    font-size: larger;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    padding: 10px;
    margin-left: 44%;
    
    

    
}
#btn:hover{
    background-color:  rgb(233, 107, 64);
    
}


.main{
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: #1F2833;
    
        
}
.about{

    height: 100%;
    z-index: -1;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
}

.about1{
    width: 50%;
    height: 80%;
    
    padding: 5%;
    float: left;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
.about2{
    float: left;
    text-align: center;
    padding:10% 7%;
 
}

#connect{
    padding-top: 2em;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}
#contact{
    height: 120vh;
    width: 100vh;
    padding:25px 0 0 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    fon
}
